body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(58, 49, 49, 0.2);
}

.login-section,
.register-section {
    font-size: 12px;
    width: 60%;
    padding: 25px;
    background: linear-gradient(1deg, #d3d1d0, #fff9f2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.btn:hover {
    background-color: #b36109;
}

.social-icons {
    /* margin-bottom: 10px; */
}

.social-icons span {
    font-size: 12px;
    margin-right: 4px;
    cursor: pointer;
    color: #994C00;
}

.social-icons span:hover {
    color: #cb6723;
}


.register-section {
    width: 40%;
    padding: 20px;
    background: linear-gradient(1deg, #b04818, #fca140);
    color: rgb(57, 52, 52);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.register-section h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 0.8rem;
    text-decoration: underline;
}

.title-welcome {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.register-btn {
    background-color: white;
    color: #994C00;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 7px 15px;
    cursor: pointer;
    margin-top: 20%;
}

.register-btn:hover {
    background-color: #f2f2f2;
}

.input-group-text {
    background-color: #c4782b;
    color: white;
    border: none;
}

.btn {
    background-color: #994C00; 
    border: none;
}

.book-btn {
    margin-left: 32.5%;
}

.auth-modal {
    height: 400px;
}