body {
    background: url('your-background-image-path.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(58, 49, 49, 0.2);
}

.login-section {
    font-size: 12px;
    width: 50%;
    padding: 25px;
    background: linear-gradient(1deg, #d3d1d0, #fff9f2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-welcome {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.social-icons {
    margin-bottom: 15px;
}

.social-icons span {
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    color: #994C00;
}


.register-section {
    width: 50%;
    padding: 20px;
    background: linear-gradient(1deg, #b04818, #fca140);
    color: rgb(57, 52, 52);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.register-section h1 {
    font-size: 1rem;
    text-decoration: underline;
}

.register-btn {
    background-color: white;
    color: #994C00;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 7px 15px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #f2f2f2;
}

.input-group-text {
    background-color: #c4782b;
    color: white;
    border: none;
}