body {
    background: linear-gradient(90deg, #F0F0F018.16%, #DEDEDE81.84%);
}
.navbar {
    border-bottom: 1px solid #e0e0e0;
}
.navbar-brand {
    color: #8B4513 !important;
    font-weight: bold;
}
.nav-link {
    color: #FD9843 !important;
}
.nav-link.active {
    font-weight: bold;
}

.btn-primary{
    background-color: #8a4513;
    border-color: #bc8963;
    border-width: thin;
}
.btn-primary:hover{
    background-color: #47220a;
    border-color: #47220a;
}
#header{
    background: linear-gradient(90deg, #9b9b9b .100%, rgba(222, 222, 222, 0.55) .100%);

}


.top-margin{
    margin-top: 150px;
}

.card-img-top{
    height: 350px;
    object-fit: cover;
}