body {
    background: linear-gradient(90deg, #F0F0F018 .16%, #DEDEDE81 .84%);
}

.navbar-brand {
    color: #8B4513 !important;
    font-weight: bold;
}

.nav-link {
    color: #FD9843 !important;
    cursor: pointer;
}

.nav-link.active {
    font-weight: bold;
}

.btn-primary {
    background-color: #8a4513;
    border-color: #bc8963;
    border-width: thin;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #47220a;
    border-color: #47220a;
}

#header {
    background: linear-gradient(90deg, #9b9b9b .100%, rgba(222, 222, 222, 0.55) .100%);
    backdrop-filter: blur(50px);
}
#headerBottom{
    background-color: rgba(10, 10, 10, 0.83) !important;
    backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;}

#hero {
    height: 35rem;
    width: 100% !important;
    background-image: url('/images/shelvesblurred.jpeg');
}

#hero::before {
    color: white;
}

.top-margin {
    margin-top: 112px;
}

.card-img-top {
    height: 350px;
    object-fit: cover;
}


/* Contact page */
#contactContent {
    background-image: url(https://img.freepik.com/free-photo/abstract-smooth-orange-background-layout-design-studio-room-web-template-business-report-with-smooth-circle-gradient-color_1258-72612.jpg?w=900&t=st=1724275006~exp=1724275606~hmac=2f53e5af98f89d1c22617036ec22dc64a0198129a055024e105404dc4fad0aa2);
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title {
    text-align: center;
    color: #8B4513;
    margin-top: -20px;
    margin-bottom: 20px;
}

.contact-info {
    font-size: 1.1em;
    margin-bottom: 15px;
    text-align: center;
}

.contact-info a {
    color: #8B4513;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-info i {
    margin-right: 8px;
    color: #8B4513;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}


.contact-form-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.form-control {
    border-radius: 5px;
}

.input-group {
    margin-bottom: 15px;
    padding: 10px;
}


/* About Us Page */
.about-section {
    background-image: url(https://img.freepik.com/free-photo/abstract-smooth-orange-background-layout-design-studio-room-web-template-business-report-with-smooth-circle-gradient-color_1258-72612.jpg?w=900&t=st=1724275006~exp=1724275606~hmac=2f53e5af98f89d1c22617036ec22dc64a0198129a055024e105404dc4fad0aa2);
    background-size: cover;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.about-section .container {
    margin-top: 0 !important;
    margin-bottom: 40px;
    padding-top: 0;
}

.about-section h2,
.about-section h4 {
    text-align: center;
    color: #8B4513;
}

.about-section h2 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-section h4 {
    margin-top: 40px;
    margin-bottom: 15px;
}

.about-section p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}


/*register*/

.modal-content {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(58, 49, 49, 0.2);
}

.login-section, .register-section {
    font-size: 12px;
    width: 60%;
    padding: 25px;
    background: linear-gradient(1deg, #d3d1d0, #fff9f2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.btn:hover {
    background-color: #b36109;
}

.social-icons {
    /* margin-bottom: 10px; */
}

.social-icons span {
    font-size: 12px;
    margin-right: 4px;
    cursor: pointer;
    color: #994C00;
}

.social-icons span:hover {
    color: #cb6723;
}

.register-section {
    width: 40%;
    padding: 20px;
    background: linear-gradient(1deg, #b04818, #fca140);
    color: rgb(57, 52, 52);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.register-section h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 0.8rem;
    text-decoration: underline;
}

.title-welcome {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.register-btn {
    background-color: white;
    color: #994C00;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 7px 15px;
    cursor: pointer;
    margin-top: 20%;
}

.register-btn:hover {
    background-color: #f2f2f2;
}

.input-group-text {
    background-color: #c4782b;
    color: white;
    border: none;
}

.btn {
    background-color: #994C00;
    border: none;
}

.book-btn {
    margin-left: 32.5%;
}

.auth-modal {
    height: 400px;
}

.modal-content {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    border-bottom: 1px solid #e0e0e0;
}

footer {
    background-color: #f8f9fa;
    color: #ffede1;
}

.footer-heading {
    color: #fff3e1;
    font-weight: bold;
    margin-bottom: 1rem;
}

footer a {
    color: #ffe1d1;
    text-decoration: none;
}

footer a:hover {
    color: #994C00;
    text-decoration: underline;
}

footer .social-icons a {
    font-size: 1.5rem;
    margin-right: 1rem;
}

footer hr {
    border-top: 1px solid #994C00;
}

